@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
.bodyDiv{
    background-color: #18011c;
    min-height: 100vh;

}



.ComputersStyle{
    padding-top: 65px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.winnerClass{
    padding-top: 50px;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.displayStyle{
    pointer-events: none;
}

.rockClass{

}

.divclassA{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.h2STYLE{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.userChoice{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rockClass{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.paperClass{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.scissorClass{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#navList {
    background-color: #9406e0;
    list-style-type: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    display: block;
    z-index: 1;
}

.navitem {
    float: left;
    padding: 15px 15px;
    color:  #ECE6EC;
    text-decoration: none;
    font-family: "Poetson One", sans-serif;
}

.active {
    background-color: #3e015e;
}




